#footer {
    background-color: #010851;
    padding: 20px;
    color: white;
}

.footer-content-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.footer-logo img {
    width: 50px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-text {
    margin-bottom: 5px;
}

.footer-links,
.footer-social-links {
    list-style: none;
    padding: 0;
}

.footer-links .footer_li,
.footer-social-links .footer_li{
    margin-bottom: 5px;
}

.footer-link,
.footer-social-link {
    text-decoration: none;
}

.footer-social-link:hover {
    color: #9A7AF1;
}

.footer-link:hover {
    color: #9A7AF1;
}

.footer-copyright {
    text-align: center;
    margin-top: 10px;
}
