* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.theme_container {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.theme_options {
  max-width: 800px;
  margin-top: 15vh;
  margin-left: 20vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.theme_option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.theme_option:hover {
  transform: scale(1.05);
  opacity: 1;
}

.theme_option.active {
  transform: scale(1.1);
  opacity: 1;
}

.theme_name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

#theme_white {
  background-color: #eee;
  color: black;
}

#theme_blue {
  background-color: #bec7e7;
}

#theme_orange {
  background-color: #f4c9b7;
}

#theme_purple {
  background-color: #d0b7f4;
}

#theme_green {
  background-color: #e2f6e1;
}

#theme_black {
  background-color: #5c5c5c;
}

.theme_container.theme_white {
  --background-color: #fff;
  --text-color: #000;
}

.theme_container.theme_blue {
  --background-color: #bec7e7;
  --text-color: #000;
}

.theme_container.theme_orange {
  --background-color: #f4c9b7;
  --text-color: #000;
}

.theme_container.theme_purple {
  --background-color: #d0b7f4;
  --text-color: #000;
}

.theme_container.theme_green {
  --background-color: #e2f6e1;
  --text-color: #000;
}

.theme_container.theme_black {
  --background-color: #5c5c5c;
  --text-color: #fff;
}